extends templates/header.pug

block content
    .login-page
        .form
            .login
                .login-header
                    h3 Sign in to FETA
                    if error
                        p.error=error
            form(class="login-form" action="/login" method="post")
                input(type="email" name="email" placeholder="example@feta.cheese")
                input(type="password" name="password" placeholder="password")
                input(type="submit" value="Login")
            .message
                p Not registered? 
                    a(href="/registration") Create an account!
