h1{
  color:#00332a;
  font-family: serif;
  font-size: 50px;
}

.dark-mode h1 {
  color:bisque;
}
button{
  border-radius: 2px;
  border: 0px;
  background-color:silver;
}
button:hover{
  background-color:lightgrey;
}

.btn.btn-primary {
    border-radius: 2px;
    border: 0px;
    color:#ffffff;
    text-shadow: none;
    background-color:#047c40;
}
  
.btn.btn-primary:hover {
    color:white;
    background-color:#4CAF50;
}

body h3{
  color:black; 
}
.dark-mode h3{
  color:white; 
}

body{
  background-color: white;
  color:black; 
}

 .dark-mode{
  background-color: black;
  color:white;
} 

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color:#045243;
}

input:focus + .slider {
  box-shadow: 0 0 1px #045243;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Style buttons */
.bi {
  padding: 18px 24px; /* Some padding */
  font-size: 24px; /* Set a font size */
  text-align: center;
  text-decoration: none;
  cursor: pointer; /* Mouse pointer on hover */
  color:#045243;
}

/* Darker background on mouse-over */
.bi:hover {
  opacity: 0.7;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300);
header .header{
  background-color: #fff;
  height: 45px;
  width: 300px;
}
header a img{
  width: 134px;
  margin-top: 4px;
}
.landing-page {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}
.landing-header {
  width: 500px;
  margin: 0 auto;
}

.dashboard-page {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

.transaction-page{
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

.statistics-page{
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
  text-align: center;
}
.login-page .form .login{
  margin-top: -31px;
  margin-bottom: 26px;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input[type = "email"],
.form input[type = "password"] {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form input[type = "submit"] {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background-color: #328f8a;
  background-image: linear-gradient(45deg,#dbffa2,#c3fcf2);
  width: 100%;
  border: 0;
  padding: 15px;
  color: black;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}

body {
  background-color: #328f8a;
  background-image: linear-gradient(30deg, #A9FBD7,#307351);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, 
body {
  min-height: 100%;
  min-width: 100%;
  margin:0;
  padding:0;
}
.dark-mode {
  background-color: #328f8a;
  background-image: linear-gradient(30deg, #047c40, #000302);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

.dark-mode .form{
  position: relative;
  z-index: 1;
  background: black;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  color: white; 
}

.dark-mode .form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background-color: #328f8a;
  background-image: linear-gradient(45deg,#616303,#045243);
  width: 100%;
  border: 0;
  padding: 15px;
  color:white;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
