button.btn-fancy(type="button" data-bs-toggle="modal" data-bs-target="#addTransactionModal") Add a Transaction

.modal.fade#addTransactionModal(tabindex="-1" aria-labelledby="addTransactionModalLabel" aria-hidden="true")
    .modal-dialog.modal-dialog-centered
        .modal-content
            .modal-header
                h5.modal-title#addTransactionModalLabel Add a Transaction
                button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
            .modal-body
                form.add-transaction-form(action="/transactions/add" method="post")
                    .mb-3
                        select.form-select(name="type")
                            option(value="income" selected="selected") Income
                            option(value="expense") Expense
                    .mb-3
                        input.form-control(type="text" name="category" placeholder="category" list="categories")
                        if categories.length > 0
                            datalist#categories
                                each category in categories
                                    option(value=category)
                    .mb-3
                        input.form-control(type="text" name="amount" placeholder="amount")
                    .mb-3
                        input.form-control(type="date" name="date" placeholder="yyyy-mm-dd")
                    .mb-3
                        input.form-control(type="text" name="note" placeholder="note")
                    input.btn-fancy(type="submit" value="Add Transaction")
