button.btn-fancy(type="button" data-bs-toggle="modal" data-bs-target="#editNMTModal") Edit a NMT

.modal.fade#editNMTModal(tabindex="-1" aria-labelledby="editNMTModalLabel" aria-hidden="true")
    .modal-dialog.modal-dialog-centered
        .modal-content
            .modal-header
                h5.modal-title#editNMTModalLabel Edit a NMT
                button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
            .modal-body
                form.edit-NMT-form(action="/transaction/editItem" method="post")
                    .mb-3
                        input.form-control(type="text" name="name" placeholder="name")
                    .mb-3
                        input.form-control(type="text" name="amount" placeholder="amount")
                    .mb-3
                        input.form-control(type="text" name="note" placeholder="note")
                    input.btn-fancy(type="submit" value="Edit NMT")