doctype html
html
    title FETA | #{header}
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css")
    link(rel="stylesheet", href="/stylesheets/main.css")

body
    block content
    <script type="text/javascript" src="/scripts/toggle.js"></script>
