header(class="container")
    .row
    nav(class="col-xl-8 text-right")
        a(class="btn btn-primary" href="dashboard" role="button")="Dashboard"
        a(class="btn btn-primary" href="transaction" role="button")="Transactions"
        a(class="btn btn-primary" href="statistics" role="button")="Statistics"
        a(class="btn btn-primary" href="logout" role="button")="Log Out"
