nav.navbar.navbar-expand-lg.navbar-dark.navbar-custom.fixed-top
  .container
    a.navbar-brand.logo-text.page-scroll(href="/")
      h1 FETA
    button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation")
      span.navbar-toggler-icon
    #navbar.collapse.navbar-collapse
      ul.navbar-nav.ms-auto
        li.nav-item
          a.nav-link.page-scroll(href='/dashboard') Dashboard
        li.nav-item
          a.nav-link.page-scroll(href='/statistics') Statistics
        li.nav-item
          a.nav-link.page-scroll(href='/transactions') Transactions
        li.nav-item
          a.nav-link.page-scroll(href='/goal') Goals
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle#navbarDropdown(href='#' role='button' data-bs-toggle='dropdown' aria-haspopup='true' aria-expanded='false') !{name}
          ul.dropdown-menu(aria-labelledby='navbarDropdown')
            li
              a.dropdown-item(href='/settings') Settings
            li.dropdown-divider
            li
              a.dropdown-item.btn-outline-sm(href='/logout') Log Out
