nav.navbar.navbar-expand-lg.navbar-dark.navbar-custom.fixed-top
  .container
    a.navbar-brand.logo-text.page-scroll(href="/")
      h1 FETA
    button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation")
      span.navbar-toggler-icon
    #navbar.collapse.navbar-collapse
      include toggle.pug
      ul.navbar-nav.ms-auto
        li.nav-item
          a.nav-link.page-scroll(href='dashboard') Dashboard
        li.nav-item
          a.nav-link.page-scroll(href='statistics') Statistics
        li.nav-item
          a.nav-link.page-scroll(href='transaction') Transactions
        li.nav-item
          a.btn-outline-sm(href='logout') Log Out
