header(class="container")
    .row
        h1(class="col-xl-4")=Dashboard
    nav(class="col-xl-8 text-right")
        a(class="btn btn-primary" href="transactions" role="button")="Transactions"
        a(class="btn btn-primary" href="statistics" role="button")="Statistics"
        a(class="btn btn-primary" href="login" role="button")="Log Out"
